* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --bg-clr: #f1ebf0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-size: 16px;
    font-family: 'Fredoka', sans-serif;
    height: 100vh;
    background-color: #dddaf9ed;
    /*background-image: url(./assets/img/bg-red-to-yellow.jpg);
    background-attachment: fixed;
    background-position: center;
    /* background-position: center; */
    /*background-size: cover;
    backdrop-filter: saturate(.03);
    /* clip-path: polygon(0 100%, 0 0, 10% 0, 40% 88%, 38% 0%, 46% 0, 46% 100%, 36% 100%, 8% 13%, 8% 100%); */
    /* background-size: 200%; */
}

/* ANIMACION */ 

.logo-init {
    animation: logo-init 1s forwards;
    transition: all 1s;
}

.logo-anim {
    animation: logo-move 1s forwards;
    transition: all 1s;
}

@keyframes logo-init {
    0% {
        transform: scale(.68) translateY(-27px);
    }
    100% {
        transform: scale(1) translateY(0px);
    }
}

@keyframes logo-move {
    0% {
        transform: scale(1) translateY(0px);
    }
    100% {
        transform: scale(.68) translateY(-27px);
    }
}

@keyframes logo-init-desktop {
    0% {
        transform: scale(.7);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes logo-move-desktop {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(.7);
    }
}


.animado {
    transition: all .5s linear;
    opacity: 0;
}

.animado-move {
    animation: animacion .5s;
}

@keyframes animacion {
    0% {
        transform: translateY(80px);
    }
    100% {
        transform: translateY(0px);
    }
}


/* HEADER */

#header {
    /*background: #aa4b6b;  /*fallback for old browsers*/
    /*background: -webkit-linear-gradient(to right, #3b8d99, #6b6b83, #aa4b6b);  /*Chrome 10-25, Safari 5.1-6*/
    /*background: linear-gradient(to right, #3b8d99, #6b6b83, #aa4b6b); /*W3C, IE 10+ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+*/
    /*background-image: url("./assets/img/fondo3.jpg");
    background-attachment: fixed;
    background-position: center;
    filter: blur(8px) hue-rotate(60deg);
    /* clip-path: polygon(0 100%, 0 0, 10% 0, 40% 88%, 38% 0%, 46% 0, 46% 100%, 36% 100%, 8% 13%, 8% 100%); */
    /*background-size: cover;*/
    width: 100%;
    height: 3em;
    position: fixed;
}

#header .header-bg {
    width: 100%;
    height: 3em;
    background-image: url(./assets/img/nav-bg-1200x300.png), linear-gradient(to bottom, #fff, transparent);
    /* background-attachment: fixed; */
    background-position: bottom;
    /* filter: blur(1px); */
    /* clip-path: polygon(0 100%, 0 0, 10% 0, 40% 88%, 38% 0%, 46% 0, 46% 100%, 36% 100%, 8% 13%, 8% 100%); */
    background-size: 100%;
    position: fixed;
    top: 0;
}

#header .logo-container {
    top: 0.4em;
    width: 100px;
    /* height: 34px; */
    /* min-width: 1200px; */
    /* overflow: hidden; */
    margin: 0 auto;
    /* margin-bottom: 1em; */
    /* padding: 0.5em 0px 0.5em 0px; */
    position: relative;
    z-index: 20;
}

#header .logo-container .logo {
    width: 70px;
    height: 70px;
    color: #fff;
    font-size: 3em;
    margin: 0 auto;
}

#header .logo-container .logo>svg {
    width: 70px;
    height: 70px;
}

/* NAV */

#header .nav-container {
    top: 3em;
    position: absolute;
    width: 100%;
    height: 0em;
    z-index: 10;
    backdrop-filter: blur(5px) saturate(300%);
    -moz-backdrop-filter: blur(5px) saturate(300%);
    -o-backdrop-filter: blur(5px) saturate(300%);
    -webkit-backdrop-filter: blur(5px) saturate(300%);
}

#header .mostrar {
    height: 100vh;
}

/* NAV-BTN-RESP */
#header .nav-container .nav-btn-resp {
    padding: 6px;
    position: absolute;
    width: 30px;
    height: 30px;
    right: 20px;
    top: -40px;
}

#header .nav-container .nav-btn-resp .nav-btn-resp__disenio {
    position: absolute;
    width: 20px;
    height: 3px;
    background-color: #fff;
    border-radius: 5px;
}

#header .nav-container .nav-btn-resp .nav-btn-resp__disenio::before {
    content: "";
    position: absolute;
    width: 20px;
    height: 3px;
    background-color: #fff;
    border-radius: 5px;
    top: 9px;
}

#header .nav-container .nav-btn-resp .nav-btn-resp__disenio::after {
    content: "";
    position: absolute;
    width: 20px;
    height: 3px;
    background-color: #fff;
    border-radius: 5px;
    top: 18px;
}

#header .nav-container .nav-ul {
    /* display: none; */
    position: relative;
    top: -300px;
    transition: top .6s ease, opacity 1s linear;
    opacity: 0;
    visibility: hidden;
}

#header .nav-container .activa {
    overflow: hidden;
    width: 200px;
    margin: 0 auto;
    height: 100vh;
    background: linear-gradient(180deg, transparent -2%, #4752e1 56px);
    -moz-background: linear-gradient(180deg, transparent -2%, #4752e1 56px);
    -o-background: linear-gradient(180deg, transparent -2%, #4752e1 56px);
    -webkit-background: linear-gradient(180deg, transparent -2%, #4752e1 56px);
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    padding-top: 3em;
    top: 0em;
    opacity: 1;
    visibility: visible;
    /* transform: translateY(100px);*/
}

#header .nav-container .nav-ul .nav-item {
    list-style-type: none;
}

#header .nav-container .nav-ul .nav-item>a {
    font-family: 'Oswald', sans-serif;
    color: #000;
    font-size: 1.4em;
    text-decoration: none;
}

/* MAIN */

#main {
    width: 100%;
    /* height: calc(100vh - 3em); */
    /* background-color: var(--bg-clr); */
    padding: .25em;
    padding-top: 5.8em;
}

#main .section-container {
    margin: 0 auto;
    min-width: 300px;
    max-width: 1200px;
    height: auto;
    /* border: 1px solid #120361; */
    box-shadow: inset 0px 0px 15px 4px #d9a8d97a, 0px 0px 2px 2px #d9a8d980;
    border-radius: 3px;
    background-color: #f1ebf0;
}
h3 {
    font-family: 'Inter', sans-serif;
    font-size: 1.3em;
    color: #242527;
    margin: 5px auto;
    text-align: center;
}

/* REDES-ASIDE */

#redes-lateral {
    position: fixed;
    width: 100%;
    height: auto;
    bottom: 0;
    /* margin: auto; */
    backdrop-filter: blur(2px);
    z-index: 500;
}
#redes-lateral .redes-container {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-evenly;
    background-color: #7172747a;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
}
#redes-lateral .redes-container .red {
    padding: 2px 0px 2px 4px;
}
#redes-lateral .redes-container .red a > img {
    width: 40px;
    height: 40px;
}

/* PRODUCTOS SECTION */

#main .section-container .section-productos {
    margin: 0 auto;
    padding: 1em;
    max-width: 1100px;
    width: 100%;
    height: auto;
    /* background-color: rgba(99, 13, 13, 0.082); */
}
#main .section-container .section-productos .producto-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    row-gap: 1.8em;
    column-gap: 1em;
}
#main .section-container .section-productos .producto-container .producto {
    display: flex;
    padding: 1em;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    max-width: 275px;
    min-width: 220px;
    background-color: aliceblue;
    border: 1px solid #1203613b;
    border-radius: 3px;
    box-shadow: 0px 0px 10px 1px #000;
}
#main .section-container .section-productos .producto-container .producto > img {
    width: 150px;
    height: 150px;
}

/* ABOUT US */

#main .section-container .section-about {
    margin: 0 auto;
    padding: 1em;
    max-width: 1100px;
    width: 100%;
    height: auto;
}


h5 {
    text-align: justify;
}

/* CONTACTO */

#contacto {
    margin: 0 auto;
    min-width: 300px;
    max-width: 1200px;
    height: auto;
    /* border: 3px dotted #120361; */
    box-shadow: inset 0px 0px 15px 4px #d9a8d97a, 0px 0px 2px 2px #d9a8d980;
    border-radius: 3px;
    background-color: #f1ebf0;
}

#contacto .contenedor-contacto {
    margin: 0 auto;
    padding: 1em;
    max-width: 1100px;
    width: 100%;
    height: auto;
}

/* FOOTER */

@media screen and (min-width: 1000px) {
    #header {
        height: 6em;
    }

    #header .header-bg {
        height: 6em;
    }

    #header .logo-container .logo {
        width: 100px;
        height: 100px;
    }

    #header .logo-container .logo>svg {
        width: 100px;
        height: 100px;
    }
    
    .logo-init {
        animation: logo-init-desktop 1s forwards;
        transition: all 1s;
    }

    .logo-anim {
        animation: logo-move-desktop 1s forwards;
        transition: all 1s;
    }
    
    #header .nav-container .nav-btn-resp {
        display: none;
    }

    #header .nav-container {
        position: absolute;
        top: 2em;
        background-color: transparent;
        backdrop-filter: none;
    }

    #header .nav-container .nav-ul {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        width: 800px;
        margin: auto;
        opacity: 1;
        top: 0;
        visibility: visible;
    }

    #header .nav-container .nav-ul .nav-item {
        font-size: 1.3em;
        margin-right: -4em;
    }
    /*#header .nav-container .nav-ul .nav-item a::before {
        content: "";
        position: absolute;
        margin: 0 auto;
        width: 2px;
        height: 3px;
        bottom: 0;
        background-color: currentColor;
        transition: width .08s linear;
    }
    #header .nav-container .nav-ul .nav-item a:hover::before {
        width: 20px;
    }*/

    h3 {
        font-size: 2em;
        margin: 5px 0px 12px 50px;
        text-align: left;
        cursor: default;
    }

    #main {
        /* height: calc(100vh - 8em); */
        padding-top: 7.1em;
    }
    #redes-lateral {
        top: 18%;
        width: 70px;
        height: 285px;
    }
    #redes-lateral .redes-container {
        flex-flow: column nowrap;
        width: 70px;
        height: auto;
    }
    #redes-lateral .redes-container .red {
        padding: 6px;
    }
    #redes-lateral .redes-container .red a > img {
        width: 55px;
        height: 55px;
        transition: transform .5s ease;
    }
    #redes-lateral .redes-container .red a > img:hover {
        transform: scale(1.3);
    }
}

@media screen and (min-width: 700px) and (max-width: 1200px) {
    #header .nav-container {
        min-width: 700px;
    }
}